.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: inherit;
}
.navbar__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar__link {
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  padding: 20px;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

.navbar__auth {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
}

.navbar__SignIn {
  font-weight: 500;
  font-family: inherit;
  font-size: 18px;
  color: inherit;
  text-decoration: none;
  margin-right: 105px;
  padding: 10px 40px;
  list-style: none;
  background: transparent;
  border-radius: 100px;
  border: 1px solid white;
  cursor: pointer;
}

.navbar__link-no-style-link {
  text-decoration: none;
  color: inherit;
}
